name: Converter 3.17, TPC 5.0 (Keras)

permissions:
  contents: read

on:
  workflow_dispatch: # Allow manual triggers
  schedule:
    - cron: 0 0 * * *
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  run-tests:
    uses: ./.github/workflows/run_network_deployment_keras_tests.yml
    with:
      converter-version: "3.17.*"
      tpc-version: "5.0"