name: Run Common Tests
on:
  workflow_dispatch: # Allow manual triggers
  schedule:
    - cron: 0 0 * * *
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  build:
    #  Regression testing for Numpy 2.4.
    #  It was performed on combinations of Python 3.11 and NumPy (<2.4 or 2.4) versions.
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        np_ver: [ "<2.4", "2.4" ]
    steps:
      - uses: actions/checkout@v4
      - name: Install Python 3
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt 
          if [[ "${{ matrix.np_ver }}" == "<2.4" ]]; then
            pip install numpy 'numpy<2.4'
          fi
          pip install pytest pytest-mock
          pip list | grep numpy
          pip check

      - name: Run unittests
        run: python -m unittest discover tests/common_tests -v

      - name: Run pytest
        run:  pytest tests_pytest/common_tests

